*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #141414;
  color: #ffffff;
}

h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

.subtitulo{
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}